* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  place-items: start;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
.navbar {
  height: 65px;
  width: 550px;
  background-color: #f55a5a;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 29px;
  font-size: 15px;
  background: linear-gradient(90deg, #672280 0%, #a626d3 100%);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: start;
  /* padding: 0 20px; */
  font-size: 15px;
  /* margin-left: 29px;; */
}
.logo--image {
  width: 31px;
  height: auto;
  /* margin-right: 7px; */
  display: flex;
  justify-content: center;
}
.logo--title {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}
.logo--description {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input--label {
  margin: 0;
  color: #374151;
  /* align-items: left; */
  /* text-align: left; */
}
.input--field {
  margin: 0;
  align-items: left;
  text-align: left;
  /* color: #FFFFFF; */
}
input {
  width: 222px;
  height: 35px;
  color: #374151;
  background-color: #eee9e9;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}
.input--group {
  width: 477px;
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button--get {
  width: 477px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  background: linear-gradient(90deg, #672280 0%, #a626d3 100%);
  color: #fff;
  border: none;
  border-radius: 5px;
}
.form {
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  display: flex;
}
.meme--image {
  width: 477px;
  /* margin-top: 32px; */
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  /* overflow-wrap:normal; */
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.bottom {
  bottom: 0;
}

.top {
  top: 0;
}