* {
  box-sizing: border-box;
}

body {
  margin: 0;
      font-family: 'Poppins', sans-serif;

}
.navbar {
  height: 70px;
  width: 550px;
  /* background-color: #333; */
  /* color: #fff; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 0 20px; */
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}
.navbar>.logo2{
  width: 82px;
  height: 25px;
  margin-left: 30px;

}
.hero {
  width: 550px;
  display: flex;
  flex-direction: column;
  /* font-family: Poppins; */
}
.hero >img {
  max-width: 400px;
  align-self: center;
  margin-top: 26px;
}
.hero>h1{
  font-size: 36px;
  margin-bottom: 16px;
  margin-top: 32px;
  text-align: left;
}
.hero>p{
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: left;
}
.card{
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  padding: 0;
}
.card>img>.card--image{
  /* width: 100%; */
  width: 175px;
  height: 235px;

  border-radius: 9px;
  margin-bottom: 9px;
}
.card>.card--stats{
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
}
.card>.card--stats>.star{
  height: 14px;
  width: 14px;
  
}

.card>p{
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: left;
}
.card>.card--stats>.gray{
  color: #918E9B;
  font-size: 12px;

}
.card>p>.bold{
 font-weight: bold;
}